
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year Intelli TechGen</strong><span style="font-size:12px"> IT Solutions & Services.</span> All rights reserved.
    <a href="mailto:intellitechgen@gmail.com">Contact Us</a>
</footer>
