@model BES.Models.Data.Tehsil

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tehsil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TehsilID" />
            <div class="form-group">
                <label asp-for="DistrictID" class="control-label"></label>
                <select asp-for="DistrictID" class="form-control" asp-items="ViewBag.DistrictID"></select>
                <span asp-validation-for="DistrictID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TehsilName" class="control-label"></label>
                <input asp-for="TehsilName" class="form-control" />
                <span asp-validation-for="TehsilName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tehsilcode" class="control-label"></label>
                <input asp-for="Tehsilcode" class="form-control" />
                <span asp-validation-for="Tehsilcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

