@model BES.Areas.Procurement.Models.LotItem

@{
    ViewData["Title"] = "Edit";
}

<div style="margin:10px 10px 0 10px">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <h4 class="box-title" style="font-weight:bold">Edit Lot Item</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LotItemId" />
                <input type="hidden" asp-for="ActualUnitRate" />
                <div class="form-group">
                    <label asp-for="lotId" class="control-label"></label>
                    <select asp-for="lotId" class="form-control" asp-items="ViewBag.lotId"></select>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <div class="form-group">
                    <label class="control-label">Unit</label>
                    <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-7">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="ActualUnitRate" class="control-label">Actual Rate</label>
                    <input asp-for="ActualUnitRate" class="form-control" value="N/A" readonly="readonly" />
                    <span asp-validation-for="ActualUnitRate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <div class="form-group">
                    <label asp-for="EstimatedUnitRate" class="control-label"></label>
                    <input asp-for="EstimatedUnitRate" class="form-control" />
                    <span asp-validation-for="EstimatedUnitRate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    <label class="control-label">Upload Item Images</label>
                    <input multiple type="file" name="images" class="Slider" />
                    @*@Html.ActionLink("ViewImages", "PPLotItemImages", new { id = 25}, new { @class = "btn btn-primary btn-sm", @style = "margin-top:10px" })*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    @Html.ActionLink("View Images", "ViewImages", "LotItemImages", new { id = Model.LotItemId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Edit Images", "Edit", "LotItemImages", new { id = Model.LotItemId }, new { @class = "btn btn-primary btn-sm" })
                </div>               
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
