
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/website/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:300px">    
    <div class="row">
        <div class="col-md-6" style="margin:30px">
            <img src="~/img/gb.jpeg" style="height:250px;width:250px" />
            <hr />
            <img src="~/img/cm.jpeg" style="height:300px;width:250px" />
            <hr />
            <img src="~/img/cs.jpeg" style="height:300px;width:250px" />
            <hr />
            <img src="~/img/Imransab.jpeg" style="height:300px;width:250px" />
            <hr />
        </div>
        <div class="col-md-6"></div>
    </div>
</div>


