
@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}



<div class="container" style="padding-left:20px;margin-bottom:20px">
    <div class="container-fluid justify-content-center">
        <div class="row">            
            <div class="col-12">                
                    <h4>Animal husbandry system in Balochistan</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th>Type of husbandry</th>
                                    <th>Description of system</th>
                                    <th>Percentage of Livestock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="img">
                                        <p>Nomadic</p>
                                        <img src="~/img/image001.png" alt="">
                                    </td>
                                    <td>People & animals constantly moving in search of grazing areas</td>
                                    <td>30% (100-150 heads per flock)</td>
                                </tr>
                                <tr>
                                    <td class="img">
                                        <p>Semi-nomadic (Transhumant/agro-pastoral)</p>
                                        <img src="~/img/image002.png" alt="">
                                    </td>
                                    <td>Livestock owners move with their livestock seasonally</td>
                                    <td>60% (50-100 heads per flock)</td>
                                </tr>
                                <tr>
                                    <td class="img">
                                        <p>Sedentary</p>
                                        <img src="~/img/image003.png" alt="">
                                    </td>
                                    <td>Permanent settlers keeping animals close to their homes</td>
                                    <td>10% (15-50 heads per flock)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-9">
                <div class="head">
                    <h3>Migratory routes of Livestock in Balochistan</h3>
                    <p><b>North-South migratory routes of nomads and transhumant</b></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap">
                        <thead>
                            <tr>                                
                                <th style="width: 150px;">Winter Quarter</th>
                                <th style="width: 350px;">Summer Quarter</th>
                                <th>Tribes/Groups</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                
                                <td>Sibi lowlands</td>
                                <td style="width:350px;white-space: pre-wrap; word-wrap: break-word">Chamman, Western Toba kakri range and several areas in Afghanistan</td>
                                <td>Pashtun</td>
                            </tr>
                            <tr>                                
                                <td>Sulaiman range</td>
                                <td style="width: 350px;">Central Toba Kakri Range</td>
                                <td>Pashtun</td>
                            </tr>
                            <tr>                                
                                <td>Harnai, Sibi district</td>
                                <td style="width: 350px;">Central Toba Kakri, Ziarat and Loralai</td>
                                <td>Pashtun</td>
                            </tr>
                            <tr>                                
                                <td>Zhob district</td>
                                <td style="width: 350px;"> Killa Saifullah, Pishin and Afghanistan</td>
                                <td>Pashtun</td>
                            </tr>
                            <tr>                                
                                <td>Sulaiman ranges</td>
                                <td style="width: 350px;">Loralai, Killa Saifullah</td>
                                <td>Pashtun</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-9" style="margin-bottom:20px">
                <p><b>East-West migratory routes of nomads and transhumant</b></p>
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Winter Quarter</th>
                                <th style="width: 350px;">Summer Quarter</th>
                                <th>Tribe/Groups</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kacchi plains</td>
                                <td style="width: 350px;">Nushki</td>
                                <td>Peerkani and M. Hasni</td>
                            </tr>
                            <tr>
                                <td>Kacchi Plains</td>
                                <td style="width: 350px;">Mangochar, Khad Kucha & D. Goran</td>
                                <td>Langhav,Zehri,Shahwani Mengel</td>
                            </tr>
                            <tr>
                                <td>Kacchi Plains</td>
                                <td style="width: 350px;">Isplinji and Johan</td>
                                <td>Zehri, Bangiulzai & Kolloi</td>
                            </tr>
                            <tr>
                                <td>Kacchi Plains</td>
                                <td style="width: 350px;">Johan and Narmuk</td>
                                <td>Kolloi, Zehri</td>
                            </tr>
                            <tr>
                                <td>Kacchi Plains</td>
                                <td style="width: 350px;">Dasht</td>
                                <td>Satakzai, Kurd, Bangulzai and Peerkani</td>
                            </tr>
                            <tr>
                                <td>Kacchi Plains</td>
                                <td style="width: 350px;">Kanak</td>
                                <td>Raessani</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="col-10">
                <img src="~/img/image004.png" alt="" width="100%">
            </div>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

