
<style>
    .list {
        list-style: disc outside none;
        display: list-item;
        padding-left: 5px;
    }
</style>


<div class="container">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h4><b><marquee> DIRECTORATE GENERAL OF FARMS AND FEED RESOURCES - Dr Abdul Hameed Mastoi</marquee></b></h4>                
            </div>
            <div class="col-12 text-left">
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4 class="text-left"><b>MESSAGE</b></h4>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-justify">
                            Vision of Livestock and Dairy Development Department Balochistan (Farms and feed Resources) is to conserve pure indigenous breeds of Bhagnaari and Red Sindhi cattle. Our mission is to promote Dairy and Poultry farming by community involvement. Introduction of exotic milch breeds like Holstein Freisien in the province has played great role in poverty alleviation through food and social security. Livestock and Dairy Development Department (Farms and feed Resources) is determined to provide milk, meat and eggs to the people on subsidize rates. Furthermore, Livestock and Dairy Development Department (Farms and feed Resources) is determined to analyze the nutritive value of forages available in the province as well as to help the farmers to formulate feed requirements for different animals to enhance their production according to their native regions.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="~/website/img/DGRS.jpeg" />
                    </div>
                </div>

                <hr style="border: 2px solid #0f9fc4; width: 100%;">
            </div>
            <div class="col-12 pt-2">
                <h4><b>INTRODUCTION</b></h4>
                <p>
                    The post of Director Farms was created in the year 1987. In 2001, Directorate of Feed Resources was merged into Directorate of Farms by forming Directorate of Farms and Feed Resources. In the year 2019, Directorate of Farms and Feed Resources has been upgraded as Directorate General of Farms and Feed Resources.
                </p>
                
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4><b>AIMS AND OBJECTIVES</b></h4>
            </div>
            <div class="col-12" style="padding-left:25px !important">
                <ul>
                    <li>
                        <p class="list">Organization of technical training in the field of animal sciences for veterinarians, veterinary technician and educational institution students</p>
                    </li>
                    <li>
                        <p class="list">Establishment of high yielding dairy units in remote areas of the province to generate revenue for government treasury</p>
                    </li>
                    <li>
                        <p class="list">To rear high pedigree Friesian males for cross breeding with local cattle breeds to produce high yielding animals</p>
                    </li>
                    <li>
                        <p class="list">Multiplication of superior quality of germ plasm and its sustained dissemination throughout the province</p>
                    </li>
                    <li>
                        <p class="list">Conservation of indigenous breed of cattle and sheep in their purest form</p>
                    </li>
                    <li>
                        <p class="list">To provide male young stock to farmers for breeding purpose</p>
                    </li>
                    <li>
                        <p class="list">To provide wholesome milk to public on competitive rates</p>
                    </li>
                    <li>
                        <p class="list">To provided balance feed for dairy and poultry farms</p>
                    </li>


                    <li>
                        <p class="list">To maintain pure breed of Red Sindhi breed</p>
                    </li>
                    <li>
                        <p class="list">To maintain pure breed of Bhagnari breed</p>
                    </li>
                </ul>
            </div>

            <div class="col-12 text-center pt-5">
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4 class="text-left"><b>ORGANOGRAM</b></h4>
                <div><img src="~/website/img/image001.png" alt="map" /></div>
            </div>            
        </div>
    </div>
</div>