
@{
    ViewData["Title"] = "DGRS";
    Layout = "~/Areas/website/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
    <style>
        .list {
            list-style: disc outside none;
            display: list-item;
            padding-left:5px;
        }
    </style>
}

<div class="container" style="font-family:Calibri">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h4><b><marquee>DIRECTORATE GENERAL OF RESEARCH AND SUPPLIES - Dr Kamran Akhtar</marquee></b></h4>                
            </div>
            <div class="col-12 text-justify">
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4 class="text-left"><b>MESSAGE</b></h4>
                <div class="row">
                    <div class="col-md-10">
                        <p class="text-justify">
                            Livestock Department caters to the requirements of livestock sector in the province. Livestock Is Increasingly becoming a very Important sector of national economy, contributing even more than all the other agricultural crops combined Livestock Department caters to the requirements of livestock sector in the province. Livestock is increasingly becoming a very important sector of national economy, contributing even more than all the other agricultural crops combined. Livestock Department strives to ensure growth and development of livestock sector in the province thus contributing to national food security, economic uplift, rural development, poverty alleviation, employment generation and foreign exchange earnings. Role and objectives of the Livestock Department are manifest in its following mission statement. Livestock and Dairy Development Department (Research Wing) mission is to have healthy and productive animals in order to ensure wealthy nation. Livestock & Dairy Development Department (Research Wing) is determined to evolve strategies for sustainable development and improvement of livestock sector leading to poverty alleviation through food and social security and to develop appropriate technologies and more focused research on applied problems related to Livestock. Conservation, management and development of indigenous resources to meet the quality protein requirements of the masses. Provide safe and quality products at competitive prices. To make province a Livestock-hub for meeting the indigenous demands and to compete the global
                            markets.
                        </p>                                               
                    </div>
                    <div class="col-md-2">
                        <img src="~/website/img/imgDGR.jpeg" />
                    </div>
                </div>
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
            </div>
            <div class="col-12 text-left">
                <h4><b>INTRODUCTION</b></h4>
                <p class="text-justify">
                    The Directorate of Research and Supplies was established in 1987 and has multi-dimensional scope. The ultimate aim was to lay a strong foundation for a healthy human society. The directorate is consistently trying to improve cattle, sheep, goat and poultry industry through scientific management & planning. In the year 2019, Directorate of Research & Supplies was upgraded to Directorate General of Research & Supplies.
                </p>
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4><b>AIMS AND OBJECTIVES</b></h4>
            </div>
            <div class="col-12" style="padding-left:25px">
                <ul>
                    <li>
                        <p class="list">To increase the productivity of livestock through intervention of modern research technologies, husbandry, health and management practices for getting maximum return</p>
                    </li>
                    <li>
                        <p class="list">Provision of veterinary training in animal breeding & genetics, nutrition and livestock management</p>
                    </li>

                    <li>
                        <p class="list">Experimentation and propagation of indigenous sheep breed through selective breeding</p>
                    </li>
                    <li>
                        <p class="list">Involvement of women in Livestock rearing activities as trained para-veterinary staff</p>
                    </li>
                    <li>
                        <p class="list">Development of sheep, goat, dairy and poultry industry by using scientific technique</p>
                    </li>



                    <li>
                        <p class="list">Poverty elevation through distribution of backyard poultry birds on subsidized rates</p>
                    </li>
                    <li>
                        <p class="list">Preservation of pure sheep breeds present in Balochistan province</p>
                    </li>
                    <li>
                        <p class="list">Research in various disciplines of livestock health and production</p>
                    </li>




                    <li>
                        <p class="list">Empowerment of women through rural poultry development</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-12 pt-5">
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4>
                    <b>
                        OFFICERS CONTACT DETAIL
                    </b>
                </h4>
            </div>

            <div class="col-12">
                <div class="">
                    <table class="table table-striped table-bordered  dataTables-example">
                        <thead class="thead-light">
                            <tr>                                
                                <th>DESIGNATION/OFFICE</th>                                
                                <th>PHONE NO</th>
                                <th>MOBILE NO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                                                
                                <td>Director General (Research & Supplies)</td>
                                <td>0819213144 <br> 0819213343</td>
                                <td>03337802726 <br> 03138382852</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Beef Production research Centre, Sibi</td>
                                <td>08339230261	</td>
                                <td>03337738383 <br> 08339230023</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Dairy Farm Dera Bugti</td>
                                <td>0835410080</td>
                                <td>0336-8495939</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Dairy Farm (Kech) Turbat</td>
                                <td>0852411529</td>
                                <td>0321-8982126</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Dairy Farm, Kharan</td>
                                <td>0333-9993348</td>
                                <td>0333-9993348</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Poultry Farm, Kharan</td>
                                <td>0332-7470617</td>
                                <td>0332-7470617</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Research Centre, Dairy Development Farm, Lasbella</td>
                                <td>Nil</td>
                                <td>0333-7987974</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Research Centre, Dairy Development Farm, Awaran</td>
                                <td>Nil</td>
                                <td>0332-7824848</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Poultry Farm, Kalat</td>
                                <td>0844-210841</td>
                                <td>0333-2817176</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Poultry Farm, (Kech) Turbat</td>
                                <td>0852413536</td>
                                <td>0333-7993045</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Poultry Farm, Dera Bugti</td>
                                <td>0835410339</td>
                                <td>0333-7857991</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Government Poultry Farm, Ziarat</td>
                                <td>Nil</td>
                                <td>0333-7764944</td>
                            </tr>
                            <tr>                                                                
                                <td>Deputy Director, Rural Poultry Development, Quetta</td>
                                <td>0819213151</td>
                                <td>03337816544</td>
                            </tr>
                            <tr>                                                                
                                <td>Superintendent, Karakul Sheep Breeding Farm, Maslakh</td>
                                <td>0819213140</td>
                                <td>Nil</td>
                            </tr>

                            <tr>                                                                
                                <td>Superintendent, Multi-Purpose Sheep Research Station, Yetabad</td>
                                <td>0334-2448052</td>
                                <td>Nil</td>
                            </tr>

                            <tr>                                                                
                                <td>
                                    Wool Research Officer, Wool Research Laboratory, Mastung>
                                </td>
                                <td>0843895470	</td>
                                <td>03337825859</td>
                            </tr>

                            <tr>                                                                
                                <td>Bacteriologist, Veterinary Research Institute, Quetta</td>
                                <td>0819213158</td>
                                <td>0334-2554821</td>
                            </tr>

                            <tr>                                                                
                                <td>Virologist, Veterinary Research Institute, Quetta</td>
                                <td>0819213143</td>
                                <td>03448005337</td>
                            </tr>

                            <tr>                                                                
                                <td>Deputy Director (Dairy)</td>
                                <td>0819213130</td>
                                <td>03347717070</td>
                            </tr>

                            <tr>                                                                
                                <td>Deputy Director (Poultry)</td>
                                <td>0819213130</td>
                                <td>03317734975</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 text-center pt-5">
                <hr style="border: 2px solid #0f9fc4; width: 100%;">
                <h4 class="text-left"><b>ORGANOGRAM</b></h4>
                <div style="padding:5px"><img src="~/website/img/image003.png" alt="map" /></div>
            </div>
        </div>
    </div>
</div>


