
<div class="row">
    <div class="text-center">
        <img src="~/img/pdfpic/background1.jpg" />
        <img src="~/img/pdfpic/background2.jpg" />
        <img src="~/img/pdfpic/background3.jpg" />
        <img src="~/img/pdfpic/background4.jpg" />
        <img src="~/img/pdfpic/background5.jpg" />
        <img src="~/img/pdfpic/background6.jpg" />
        <img src="~/img/pdfpic/background7.jpg" />
    </div>
</div>

