
@{
    ViewData["Title"] = "Ongoing";
    Layout = "~/Areas/website/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

<div style="margin:20px;min-height:300px">
    <h3>Ongoing development Projects</h3>
    <table class="table table-striped table-bordered  dataTables-example">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name of Projects</th>
            </tr>
        </thead>
        <tbody>  
            <tr>
                <td>1</td>
            </tr>
            <tr>
                <td>
                    ARCH CENTER DAIRY DEV: LASBELA
                </td>
                <td>
                    COMPLETION OF IN COMPLETE SCHEMES (CONST: OF VETERINARY HOSPITALS PROJECT)
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
                <td>
                    MOBILE ANIMAL HEALTH AND VETERINARY SERVICES IN (20) DISTRICTS
                </td>
            </tr>
        </tbody>
    </table>
</div>