@model BES.Areas.Procurement.Models.AddendumDetail

@{
    ViewData["Title"] = "Edit";
}


<div style="margin:10px 10px 0 10px">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AddendumDetailId" />
        <input type="hidden" asp-for="LotItemId" />
        <div class="row">
            <div class="col-md-12">
                <h4 class="box-title" style="font-weight:bold">Update Addendum Item</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <input type="hidden" asp-for="AddendumId" />
                <div class="form-group">
                    <label asp-for="LotItemId" class="control-label"></label>
                    <input class="form-control" value="@ViewBag.ItemName" readonly="readonly" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2">
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

        </div>
    </form>
    <div>
        <a asp-action="AddAddendumItems" asp-route-id="@Model.AddendumId">Back to List</a>
    </div>
</div>   
   

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
