@model BES.Areas.Procurement.Models.Step

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Step</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StepID" />
            <div class="form-group">
                <label asp-for="ProcurementPlanID" class="control-label"></label>
                <select asp-for="ProcurementPlanID" class="form-control" asp-items="ViewBag.ProcurementPlanID"></select>
                <span asp-validation-for="ProcurementPlanID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerailNo" class="control-label"></label>
                <input asp-for="SerailNo" class="form-control" />
                <span asp-validation-for="SerailNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
