@model IEnumerable<LIVESTOCK.Areas.website.Models.Gallery>

<div class="row">

    @foreach (var item in Model)
    {
        <form asp-action="Delete3" enctype="multipart/form-data">
            <input type="hidden" value="@item.GalleryID" name="Id" />
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg">
                        <img src="@item.PicturePath" alt="Lights"  width="250" height="200">
                        <div class="text-center"><input type="submit" value="Remove" class="btn btn-sm btn-flat" /></div>
                    </a>
                </div>
            </div>
        </form>
            }

    </div>
