@model LIVESTOCK.Areas.website.Models.Ongoing


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/website/Views/Shared/_LayoutWebadmin.cshtml";
}

<div style="margin:20px">
    <div><h4 style="font-weight:600;font-style:oblique"><u>Edit project Activity</u></h4></div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="OngoingID" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="CreatedOn" />
        <div class="form-group">
            <label asp-for="OngoingID" class="control-label"></label>
        </div>
        <div class="form-group">
            <label asp-for="SerialNo" class="control-label"></label>
            <input asp-for="SerialNo" class="form-control" />
            <span asp-validation-for="SerialNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PSDP" class="control-label"></label>
            <input asp-for="PSDP" class="form-control" />
            <span asp-validation-for="PSDP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProjectID" class="control-label"></label>
            <input asp-for="ProjectID" class="form-control" />
            <span asp-validation-for="ProjectID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EstimatedCost" class="control-label"></label>
            <input asp-for="EstimatedCost" class="form-control" />
            <span asp-validation-for="EstimatedCost" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Exp" class="control-label"></label>
            <input asp-for="Exp" class="form-control" />
            <span asp-validation-for="Exp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fin" class="control-label"></label>
            <input asp-for="Fin" class="form-control" />
            <span asp-validation-for="Fin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Allocation" class="control-label"></label>
            <input asp-for="Allocation" class="form-control" />
            <span asp-validation-for="Allocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinTar" class="control-label"></label>
            <input asp-for="FinTar" class="form-control" />
            <span asp-validation-for="FinTar" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Thr" class="control-label"></label>
            <input asp-for="Thr" class="form-control" />
            <span asp-validation-for="Thr" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="DirectorID" class="control-label">Directorate</label>
            <select asp-for="DirectorID" class="form-control" asp-items="ViewBag.DirectorID"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Project State</label>
            <select asp-for="Status" class="form-control" asp-items="@((List<SelectListItem>)ViewData["ddList"])">
            </select>
        </div>
        @*<div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>

</div>

<div style="margin-left:10px">
    <a asp-action="Create">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


