@model BES.Models.Data.Indicator

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Indicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartnerID" class="control-label"></label>
                <select asp-for="PartnerID" class="form-control" asp-items="ViewBag.PartnerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="IndicatorName" class="control-label"></label>
                <input asp-for="IndicatorName" class="form-control" />
                <span asp-validation-for="IndicatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SequenceNo" class="control-label"></label>
                <input asp-for="SequenceNo" class="form-control" />
                <span asp-validation-for="SequenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input asp-for="IsPotential" /> @Html.DisplayNameFor(model => model.IsPotential)</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input asp-for="IsFeeder" /> @Html.DisplayNameFor(model => model.IsFeeder)</label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input asp-for="IsNextLevel" /> @Html.DisplayNameFor(model => model.IsNextLevel)</label>
                </div>
            </div>
            <div class="form-group">IsNextLevel
                <label asp-for="EvidanceType" class="control-label"></label>
                <select asp-for="EvidanceType" class="form-control" asp-items="ViewBag.InputType"></select>
                <span asp-validation-for="EvidanceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEvidenceRequire" /> @Html.DisplayNameFor(model => model.IsEvidenceRequire)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
