@model BES.Models.Data.School

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>School</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UCID" class="control-label"></label>
                <select asp-for="UCID" class ="form-control" asp-items="ViewBag.UCID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SName" class="control-label"></label>
                <input asp-for="SName" class="form-control" />
                <span asp-validation-for="SName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolOf" class="control-label"></label>
                <input asp-for="SchoolOf" class="form-control" />
                <span asp-validation-for="SchoolOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SCode" class="control-label"></label>
                <input asp-for="SCode" class="form-control" />
                <span asp-validation-for="SCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BEMIS" class="control-label"></label>
                <input asp-for="BEMIS" class="form-control" />
                <span asp-validation-for="BEMIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Zone" class="control-label"></label>
                <input asp-for="Zone" class="form-control" />
                <span asp-validation-for="Zone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onboard" class="control-label"></label>
                <input asp-for="Onboard" class="form-control" />
                <span asp-validation-for="Onboard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOpen" class="control-label"></label>
                <input asp-for="DateOpen" class="form-control" />
                <span asp-validation-for="DateOpen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Abandon" /> @Html.DisplayNameFor(model => model.Abandon)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Upgradation" class="control-label"></label>
                <input asp-for="Upgradation" class="form-control" />
                <span asp-validation-for="Upgradation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructionStartDate" class="control-label"></label>
                <input asp-for="ConstructionStartDate" class="form-control" />
                <span asp-validation-for="ConstructionStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PTSMC" class="control-label"></label>
                <input asp-for="PTSMC" class="form-control" />
                <span asp-validation-for="PTSMC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMutation" class="control-label"></label>
                <input asp-for="LandMutation" class="form-control" />
                <span asp-validation-for="LandMutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialEnrollment" class="control-label"></label>
                <input asp-for="InitialEnrollment" class="form-control" />
                <span asp-validation-for="InitialEnrollment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Construction" class="control-label"></label>
                <input asp-for="Construction" class="form-control" />
                <span asp-validation-for="Construction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedStatus" class="control-label"></label>
                <input asp-for="SelectedStatus" class="form-control" />
                <span asp-validation-for="SelectedStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationDate" class="control-label"></label>
                <input asp-for="NotificationDate" class="form-control" />
                <span asp-validation-for="NotificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phase" class="control-label"></label>
                <input asp-for="Phase" class="form-control" />
                <span asp-validation-for="Phase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
