@model IEnumerable<LIVESTOCK.Areas.website.Models.Initiative>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/website/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

<div style="margin:20px;min-height:300px">
    <h4><b>List of Inititatives</b></h4>
    <table class="table table-striped table-bordered  dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>                
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {                
                <tr>
                    <td>
                        <text>@item.Name</text>
                    </td>
                    <td>
                        <a href='@Url.Content(item.filepath)' target="_blank">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

