@model LIVESTOCK.Areas.website.Models.Director

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/website/Views/Shared/_LayoutWebadmin.cshtml";
}

<h2>Edit</h2>

<h4>Director</h4>
<hr />
<div style="margin:5px">
    <form asp-action="Edit">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DirectorID" />
                <input type="hidden" asp-for="CreatedOn" />
                <input type="hidden" asp-for="Contact" />
                <input type="hidden" asp-for="Email" />
                <div class="form-group">
                    <label asp-for="HeadName" class="control-label"></label>
                    <input asp-for="HeadName" class="form-control" />
                    <span asp-validation-for="HeadName" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <ejs-richtexteditor id="editor" ejs-for="Description">
                    <e-richtexteditor-insertimagesettings saveUrl="/Website/Directors/SaveImage" path="/Uploads/"></e-richtexteditor-insertimagesettings>
                </ejs-richtexteditor>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

