@model IEnumerable<LIVESTOCK.Areas.website.Models.GalleryFolder>

<div class="row">

    @foreach (var item in Model)
    {
        <form asp-action="Delete3" enctype="multipart/form-data">
            <input type="hidden" value="@item.GalleryFolderId" name="Id" />
            <div class="col-md-3 p-1 text-center">
                <div class="thumbnail" style="background-image: url( @Url.Content("../../images/folder.png") );background-size: 210px 140px;background-repeat: no-repeat;min-height:200px;">
                    <div class="text-center" style="padding-top:50px">
                        <img src="@item.FolderImagePath" width="120" height="80" alt="Lights">
                        <p style="margin:0;margin-top:5px">@item.FolderTitle</p>
                        <div class="text-center"><input type="submit" value="Remove" class="btn btn-sm btn-outline-danger" /></div>
                    </div>
                </div>
            </div>
        </form>
    }

</div>
