@model LIVESTOCK.Areas.website.Models.Notification

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/website/Views/Shared/_LayoutWebadmin.cshtml";
}
@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}
<div style="margin:20px">
    <div><h4 style="font-weight:600;font-style:oblique"><u>Upload Notification Activity</u></h4></div>


    <form asp-action="Create"  method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-7">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Visibility" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-success" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="FilePath" class="control-label"></label>
                    <div>
                        <span class="btn btn-file" style="padding:0"><img src="~/images/uploadfile.png" width="30" height="30" /><input type="file" name="Attachment" accept="application/pdf" required></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-1" style="margin-top:15px">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ShowOnSlider" /> @Html.DisplayNameFor(model => model.ShowOnSlider)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="row" style="margin-left:10px">
    <div class="col-md-3">
        <h4 class="box-title">
            <text style="font-weight:bold">List of Notifications </text>
        </h4>
    </div>
    <div class="col-md-1" id="divLoading">
        <img src="~/img/sspinner.gif" width="40" height="40" />
    </div>

</div>

<div id="dynamicContentContainer" style="margin:0 15px 0 15px"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $.get('@Url.Action("Index2", "Notifications")', function (content) {
                $("#dynamicContentContainer").html(content);
                $("#divLoading").hide();
            });
        });
    </script>

}

