
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <span style="font-size:12px">All rights reserved to the Livestock &amp; DDD Balochistan And SCIENCE &amp; IT DEPARTMENT, DIRECTORATE GENERAL IT BALOCHISTAN</span>    
</footer>
